:root {
	--clr-accent: #3D73FF;
	--clr-light-accent: #bfd1ff;
	--clr-bland: #aaa;
	--clr-light-bland: #f7f7f7;
	--clr-green: #2DA44E;
	--clr-err: #ff5c5c;
	--bg-clr: #FFFFFF;

	--border-clr: #EFEFEF;

	--ff-primary: 'Roboto', sans-serif;
	--ff-clr-primary: #363636;
	
	--ff-body: var(--ff-primary);
	--ff-heading: var(--ff-primary);

	--fw-regular: 400;
	--fw-semi-bold: 600;
	--fw-bold: 700;

	--fs-250: .3rem;
	--fs-300: .5rem;
	--fs-450: .8rem;
	--fs-500: .875rem;
	--fs-550: 1.2rem;
	--fs-600: 1.5rem;
	--fs-650: 1.8rem;
	--fs-700: 2rem;
	--fs-800: 2.2rem;

	--fs-super-heading: var(--fs-700);
	--fs-heading: var(--fs-550);
	--fs-body: var(--fs-500);
	--fs-secondary: var(--fs-450);
	--fs-note: var(--fs-300);
}


*,
*::before,
*::after {
	position: relative;
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	scroll-behavior: smooth;
	display: flex;
	justify-content: center;
}

html, 
body {
	width: 100%;
	height: 100%;
}

body {
	text-rendering: optimizeSpeed;
  	line-height: 1.5em;
  	font-family: var(--ff-primary);
  	color: var(--ff-clr-primary);
  	font-size: var(--fs-body);
}

ul[role='list'],
ol[role='list'] {
	list-style: none;
}

input,
button,
textarea,
select {
	font: inherit;
}

a {
	text-decoration: none;
	color: var(--ff-clr-primary);
}

img,
picture,
svg {
	max-width: 100%;
	display: block;
}

main[role='main'] {
	width: 100%;
	height: 100%;
	min-height: 100%;
	display: flex;
}

input[type="text"], input[type="number"], input[type="password"], input[type="date"], select {
	width: 100%;
	margin: 5px 0px;
	padding: 2px 10px;
	border: 1px solid var(--clr-accent);
	background-color: var(--clr-light-accent);
	outline: none;
	color: var(--ff-clr-primary) !important;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, select:focus {
	border: 2px solid var(--clr-accent);

}

input[type="file"], textarea {
	border: 1px solid var(--border-clr);
	padding: 10px;
	margin: 5px 0px;
	width: 100%;
}

input[type="submit"], button, a[data-type="button"] {
	margin-top: 15px;
	margin-right: 10px;
	margin-bottom: 25px;
	padding: 2px 10px;
	outline: none;
	border: none;
	border-radius: 5px;
}

.btn-default-style {
	background-color: var(--clr-accent);
	color: white;
}

a[data-type="button"] {
 	padding: 3.5px 10px;
 }

hr {
	margin: 15px 0px;
	border: none;
	border-top: 1px solid var(--border-clr);
}

.wrpane-con {
	border: 1px solid var(--border-clr);
	padding: 10px;
	padding-left: 20px;
	width: 100%;
	margin: 15px 0;
}

.success {
	color: var(--clr-green);
}

.noissue {
	color: var(--clr-accent);
}

.error {
	color: var(--clr-err);
}

.noissue::before, .error::before, .success::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	width: 5px;
	height: 100%;
}

.noissue::before {
	background-color: var(--clr-accent);
}

.error::before {
	background-color: var(--clr-err);
}

.success::before {
	background-color: var(--clr-green);
}

.header {
	font-size: var(--fs-heading);
	font-weight: var(--fw-semi-bold);
}

.subtext {
	font-size: var(--fs-secondary);
}

.table-con {
	margin: 40px;
	padding: 10px;
}

.search-filter-con {
	width: 100%;
	display: flex;
}

.search-con {
	width: 50%;
}

.filter-con {
	width: 50%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.filter-form-con {
	position: absolute;
	display: none;
	border: 1px solid var(--border-clr);
	background-color: white;
	z-index: 5;
	top: -20px;
	right: 30px;
	width: 200px;
	padding: 20px 15px;
	height: 350px;
}

.filter-form-con::before {
	position: absolute;
	border-left: 10px solid var(--border-clr);
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid transparent;
	content: '';
	top: 60px;
	right: -20px;
}

.filter-form-header-con {
	display: flex;
	align-items: center;
}

.filter-form-header-con > img{
	margin-left: auto;
	height: 15px;
	width: 15px;
}

.filter-form-group-con {
	width: 100%;
	height: 250px;
	padding: 10px 0px 0px 0px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.filter-form-group-con hr {
	margin: 5px 0px 10px 0px;
	width: 100%;
	border: 0;
	border-top: 1px solid var(--border-clr);
}


.filter-form-group-con > .form-group {
	padding: 0px 10px;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-bland);
  border-radius: 10px;
}

#filter-form-toggler {
	height: 20px;
	width: 20px;
}

#filter-btn {
	width: 100%;
	background-color: var(--clr-accent);
	color: white;
	margin-bottom: 0;
}

.search-con input[name="search"]{
	width: 100%;
}

.search-con {
	margin-bottom: 20px;
}

table {
	width: 100%;
	height: 100%;
	text-align: left;
	border-collapse: collapse;
}

table th {
	font-weight: var(--fw-semi-bold);
	padding: 15px 5px 20px 5px;	
}

table th > span{
	display: flex;
	align-items: center;
}

table th > span img{
	width: 15px;
	height: 15px;
	margin-left: 5px;
	cursor: pointer;
}

table th > span input[type="checkbox"], table td > input[type="checkbox"] {
	margin-right: 15px;
	border: 1px solid white !important;
	outline: none;
}

table td > input[type="checkbox"] {
	top: 2px;
}

table tr:nth-child(even) {
	background-color: var(--clr-light-bland);
}

table tr td {
	padding: 15px 5px;
}

table tr td > a {
	color: var(--clr-accent);
	cursor: pointer;
}

.selected-row-btn-con {
	margin-top: 10px;
}

.selected-row-btn-con button{
	color: white;
	background-color: var(--clr-accent);
	margin-bottom: 5px;
}

.details-modal-con {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	justify-content: center;
	align-items: center;

}

.details-con {
	width: 800px;
	background-color: white;
	height: 500px;
	padding: 10px 10px;
	border-radius: 10px;
}


.details-form-con {
	width: 100%;
	max-height: 380px;
	padding: 10px;
	overflow-y: scroll;
}

.details-header-con {
	width: 760px;
	padding: 20px 10px 15px 10px;
	background-color: white;
	margin-bottom: 10px;
	z-index: 10;
	display: flex;
	align-items: center;
}

.details-header-con > img{
	width: 25px;
	margin-left: auto;
	height: auto;
	cursor: pointer;
}

.details-subtext {
	padding: 0px 10px;
}

.form-group {
	margin-bottom: 5px;
}

.three-form-group {
	display: flex;
	justify-content: space-between;	
}

.three-form-group > div {
	width: 33%;
}

.two-form-group {
	display: flex;
	justify-content: space-between;	
}

.two-form-group > div {
	width: 49.5%;
}

.std-srv-content-con {
	width: 100%;
	height: auto;
	display: flex;
}

.std-srv-info-content-con {
		width: 100%;
		height: auto;
}

.std-srv-content-left-con {
	height: 600px;
	width: 60%;
	display: flex;
	justify-content: center;
	overflow-y: scroll;
}

.std-srv-content-left-con::-webkit-scrollbar {
	width: 10px;
}

.std-srv-content-left-con::-webkit-scrollbar-thumb  {
	background-color: transparent;
}

.std-srv-content-left-con::-webkit-scrollbar-thumb:hover {
	background-color: var(--border-clr);
}

.std-srv-form-con {
	margin-top: 50px;
	width: 500px;
	height: auto;
}

.std-srv-form-con > .header, .dep-about-con > .header{
	color: var(--clr-accent);
}

.std-srv-form-list {
	margin-top: 15px;
	list-style: none;
}

.std-srv-form-list > li {
	display: flex;
	border-top: 1px solid var(--border-clr);
	flex-direction: column;
}

.std-srv-form-list > li:nth-last-child(1) {
	border-bottom: 1px solid var(--border-clr);
}

.std-srv-form-list > li > span {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-weight: var(--fw-semi-bold);
	padding: 10px 10px;
	cursor: pointer;
}

.std-srv-form-list > li > span:hover {
	background-color: var(--border-clr);
}

.std-srv-form-list > li > span > img {
		width: 20px;
		height: 20px;
}

.std-srv-list-content-con > li > form {
	height: auto;
	margin-top: 10px;
}

.std-srv-list-content-con {
	overflow: hidden;
	height: 0;
	transition: height .2s ease;
	overflow-y: scroll;
}

.std-srv-list-content-con[data-li="records"] {
	max-height: 300px;
}

.std-srv-content-right-con {
	width: 40%;
}

.std-srv-instruction-con {
	margin-top: 50px;
	padding: 0px 10px;
}

.std-srv-instruction-con p{
	margin: 10px;
	margin-left: 0;
	color: var(--clr-accent);
}

.std-srv-instruction-con ul{
	margin: 10px;
}

.record-con {
	width: 100%;
	padding: 15px 10px;
	display: flex;
}

.record-con:nth-child(even) {
	background-color: var(--border-clr);
}

.dep-about-con {
	padding: 0 40px;
	margin-top: 50px;
	width: 80%;
}

.dep-services-list li{
	margin: 5px;
	margin-left: 20px;
}

.dep-name-text, .dep-services-list > p {
	font-weight: var(--fw-semi-bold);
}

.dep-contact-text {
	display: flex;
	align-items: center;
	column-gap: 5px;
}

.dep-contact-text {
	width: 20px;
	height: auto;
	margin-top: 5px;
}

.dep-contact-text a{
	color: var(--clr-accent);
	cursor: pointer;
}

.dep-contact-text a:hover{
	text-decoration: underline;
}

@media(min-width: 0) {


}

@media(min-width: 576px) {
	
}

@media(min-width: 900px) {
	
}
