/*** index ***/
.hm-con {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.hm-login-con {
	display: flex;
}

.hm-login-form-con {
	height: 500px;
	width: 500px;
	display: flex;
	flex-direction: column;
}


.hm-login-form-head-con {
	display: flex;
	flex-direction: column;
	width: 100%;
	color: var(--clr-accent);
	font-size: var(--fs-heading);
	font-weight: var(--fw-semi-bold);
}

.hm-login-form-head-con hr{
	margin-top: 10px;
	width: 100%;
	border: 0;
	border-top: 1px solid var(--border-clr);
}

.hm-login-form-con form{
	margin-top: 10px;
	width: 100%;	
}

.hm-login-form-con form a:hover{
	text-decoration: underline;
}

.hm-login-form-con form > span {
	margin: 5px 0px;
}

.hm-login-form-con form > div {
}

.hm-login-form-con form > span span {
	color: red;
}

.hm-login-form-con input[type="submit"] {
	background-color: var(--clr-accent);
	color: white;
}

.create-acc-link {
	background-color: var(--border-clr);
	padding: 5px 15px;
	border-radius: 5px;
}

.create-acc-link:hover {
	text-decoration: none !important;
	background-color: var(--border-clr);
}

.login-alumni-btn {
	background-color: var(--clr-accent);
	color: white;
	margin-left: 10px;
}

.forgot-pass-link {
	float: right;
	margin-top: 17px;	
}

.hm-cover-con {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 50%;
	background-color: var(--clr-accent);
	z-index: 200;
}

.hm-cover-img-con {
	width: 100%;
	height: 100%;
	background-color: transparent;
}

.hm-cover-img-con img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: .5;
}

/*** registration ***/
.registration-main {
	display: flex;
	justify-content: center;
}

.registration-con {
	display: flex;
	flex-direction: column;
}

.registration-con .steps-con {
	display: flex;
	padding: 10px;
	width: 100%;
	margin-top: 20px;
	justify-content: center;
}

.registration-con .steps-con > div{
	margin: 0 5px;
	height: 35px;
	padding: 0 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-bland);
}	

.registration-con .steps-con > div::before {
	content: '';
    width: 28px;
    height: 28px;
    position: absolute;
    left: -7px;
    top: -1px;
    background-color: var(--bg-clr);
    z-index:50;
    
    -webkit-transform: translate(-10px,4px) rotate(45deg);
       -moz-transform: translate(-10px,4px) rotate(45deg);
        -ms-transform: translate(-10px,4px) rotate(45deg);
         -o-transform: translate(-10px,4px) rotate(20deg);
            transform: translate(-10px,4px) rotate(45deg);
}

.registration-con .steps-con > div::after {
	content: '';
    width: 25px;
    height: 25px;
    position: absolute;
    right: -3px;
    top: 1px;
    background-color: var(--clr-bland);
    z-index: 150;
    
    -webkit-transform: translate(10px,4px) rotate(45deg);
       -moz-transform: translate(10px,4px) rotate(45deg);
        -ms-transform: translate(10px,4px) rotate(45deg);
         -o-transform: translate(10px,4px) rotate(20deg); 
            transform: translate(10px,4px) rotate(45deg);
}

.registration-con .steps-con  > .step.active {
	background-color: var(--clr-accent);
	color: white;
}

.registration-con .steps-con  > div > span {
}

.registration-con .steps-con  > div.active::after {
	background-color: var(--clr-accent);	
}

.registration-con .registration-form-con {
	
}

.registration-con > .wrpane-con {
	display: none;
}

.registration-form-con {
	width: 100%;
	display: flex;
	justify-content: center;
}

.registration-form-con > form {
	width: 100%;
}

.registration-form-con > form  div > .two-form-group, .registration-form-con > form  div > .three-form-group, .registration-form-con > form div > .form-group {
	margin-bottom: 10px;
}  

.registration-con .registration-form-con .two-form-group, .registration-form-con > form  div > .three-form-group{
	display: flex;
}

.registration-con .registration-form-con .two-form-group .form-group{
	width: 50%;
}

.registration-form-con > form  div > .three-form-group .form-group {
	width: 35%;
}

.registration-form-con > form  div > .three-form-group .form-group:nth-child(2) {
	margin: 0 5px;
}

.registration-con .registration-form-con .two-form-group .form-group:nth-child(1) {
	margin-right: 10px;
}

.reg-btn-con {
	dipslay: flex;
	width: 100%;
}

.reg-next-btn {
	background-color: var(--clr-accent);
	color: white;
	cursor: pointer;	
}

.reg-back-btn {
	background-color: var(--clr-err);
	color: white;
	cursor: pointer;
}

.reg-submit-btn {
	background-color: var(--clr-bland-light);
	cursor: pointer;
}

.account-details-con {
	display: block;
}

.student-details-con {
	display: none;
	margin-bottom: 20px;
}

.terms-condition-con {
	display: none;
	width: 100%;
}

.terms-condition {
	border: 1px solid var(--border-clr);
	width: 100%;
	padding: 15px;
	overflow: scroll;
	min-height: 300px;
	max-height: 350px;
	margin-bottom: 20px;
	padding-top: 20px;
	background-color: var(--clr-light-bland);
}

.wrpane-con.success.register, .wrpane-con.err.register {
	display: block;
}

/*** overview ***/
.overview-con {
	width: 100%;
	height: 100%;
}

.overview-welcome-con {
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--clr-light-bland);
	border-bottom: 1px solid var(--border-clr);
}

.overview-welcome-header-con {
}

.overview-welcome-header-con > .header {
	display: flex;
	column-gap: 10px;
	align-items: center;
	font-weight: var(--fw-regular);
	font-size: var(--fs-800) !important;
	color: var(--clr-accent);
}

.overview-welcome-header-con > .header > img {
	position: absolute;
	left: -70px;
	width: 60px;
	height: 60px;
}

.overview-welcome-subheader {
	text-align: right;
	margin-top: 10px;
}

.typewriter {
	width: 100%;
	text-align: center;
	margin-top: 60px;
	font-size: var(--fs-700);
}

.typewriter::before {
  content: "";
  animation: typing 15s infinite;
}

.typewriter::after {
  content: "";
  border-right: 5px solid var(--ff-clr-secondary);
  animation: blink 0.5s linear infinite;
}

@keyframes typing {
  0%, 9.300% { content: ""; }
  0.700%, 8.600% { content: "O"; }
  1.400%, 7.900% { content: "OS"; }
  2.100%, 6.200% { content: "OSA"; }
  3.800%, 5.500% { content: "OSAS"; }

  11%, 29.300% { content: ""; }
  11.700%, 28.600% { content: "R"; }
  12.400%, 27.900% { content: "RE"; }
  13.100%, 26.200% { content: "REG"; }
  14.800%, 25.500% { content: "REGI"; }
  15.500%, 24.800% { content: "REGIS"; }
  16.200%, 23.100% { content: "REGIST"; }
  17.900%, 22.400% { content: "REGISTR"; }
  18.600%, 21.700% { content: "REGISTRA"; }
  19.300%, 21% { content: "REGISTRAR"; }

  31%, 46.500% { content: ""; }
  31.700%, 45.800% { content: "G"; }
  32.400%, 44.100% { content: "GU"; }
  33.900%, 43.400% { content: "GUI"; }
  34.600%, 42.700% { content: "GUID"; }
  35.300%, 42% { content: "GUIDA"; }
  36%, 41.300% { content: "GUIDAN"; }
  36.700%, 40.600% { content: "GUIDANC"; }
  37.400%, 39.900% { content: "GUIDANCE"; }

  48.200%, 62.700% { content: ""; }
  49.900%, 62% { content: "F"; }
  50.600%, 61.300% { content: "FI"; }
  51.300%, 60.600% { content: "FIN"; }
  52%, 59.900% { content: "FINA"; }
  52.700%, 58.200% { content: "FINAN"; }
  53.400%, 57.500% { content: "FINANC"; }
  54.100%, 56.800% { content: "FINANCE"; }

  64.400%, 79.900% { content: ""; }
  65.100%, 78.200% { content: "L"; }
  66.800%, 77.500% { content: "LI"; }
  67.500%, 76.800% { content: "LIB"; }
  68.200%, 75.100% { content: "LIBR"; }
  69.900%, 74.400% { content: "LIBRA"; }
  70.600%, 73.700% { content: "LIBRAR"; }
  71.300%, 73% { content: "LIBRARY"; }
  
  81.600%, 92.700% { content: ""; }
  82.300%, 92% { content: "C"; }
  83%, 91.300% { content: "CL"; }
  83.700%, 90.600% { content: "CLI"; }
  84.400%, 89.900% { content: "CLIN"; }
  85.100%, 89.200% { content: "CLINI"; }
  86.800%, 88.500% { content: "CLINIC"; }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

/*** overview statistics ***/
.overview-statistics-con {
	width: 100%;
	height: auto;
	padding: 20px 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.overview-statistics-count-con {
	width: 70%;
	display: flex;
}

.overview-count-con {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	column-gap: 10px;
	margin-top: 10px;
}

.overview-count-panel-con {
	display: flex;
	width: 48%;
	height: 50px;
	border: 1px solid var(--border-clr);
}

.overview-count-box-con {
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overview-count-box-con > p{
	color: white;
}

.overview-title-box-con {
	display: flex;
	align-items: center;
}

.overview-title-box-con > p{
	margin-left: 10px;
}

.overview-statistics-graph-con {
	width: 35%;
}

.overview-status-list {
	width: 100%;
	margin-top: 10px;
}

.overview-status-list > ul {
	list-style-type: none;
}

.overview-status-list > ul > li{
	margin-top: 10px;
}

@media(min-width: 0) {
	.hm-login-con {
		width: 100%;
		height: 100%;
		padding: 20px;
		margin-top: 20px;
	}
	
	.hm-cover-con {
		display: none;
	}

	.hm-login-form-con {
		height: 100%;
		width: 100%;
	}

	.registration-con {
		width: 100%;
		padding: 0 10px;
	}
}

@media(min-width: 576px) {
	
}

@media(min-width: 900px) {
	.hm-login-con {
		width: 50%;
		justify-content: center;
		padding-left: 0;
		margin-top: 40px;
	}

	.hm-login-form-con {
		height: 550px;
		width: 550px;
	}

	.hm-cover-con {
		display: flex;
	}

	.registration-con {
		width: 50%;
		padding: 0;
	}
}