
@keyframes width {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes height {
	0% {
		height: 0;
	}
	100% {
		height: 100%;
	}
}


.hactive {
	color: var(--clr-accent);
	background-color: var(--border-clr);
}

.hactive::before {
	position: absolute;
	content: '';
	background-color: var(--clr-accent);
	height: 4px;
	width: 100%;
	bottom: 0;
	left: 0;
}

.hactive img, .sactive img{
	filter: invert(35%) sepia(79%) saturate(1967%) hue-rotate(212deg) brightness(100%) contrast(103%)
}

/*** h navigation  ***/
.h-nav {
	height: 6rem;
	width: 100%;
	top: 0;
	left: 0;
	border-bottom: 1px solid var(--border-clr);
	display: flex;
	align-items: center;
	z-index: 99;
	background: linear-gradient(45deg, #F8F8F8 -5.43%, #FFFFFF 54.57%);
}

.h-nav-brand-con {
	display: flex;
	height: 100%;
	min-width: 280px;
	padding: 0px 20px 0px 10px;
	border-right: 1px solid var(--border-clr);
}

.h-nav-logo-con {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 30%;
	padding: 10px;
}

.h-nav-logo-con img {
	object-fit: cover;
	width: 80px;
	height: auto;
}

.h-nav-title-con {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	line-height: 1.5em;
}

.h-nav-title-con p:nth-child(1) {
	color: var(--clr-accent);
	white-space: nowrap;
}

.h-nav-title-con p:nth-child(2) {
	white-space: nowrap;
	font-size: var(--fs-secondary);
}

.h-nav-options-con {
	display: flex;
}

.h-nav-list {
	list-style-type: none;
	display: flex;
	height: 100%;
}

.h-nav-list li {
	display: flex;
	padding: 15px;
	justify-content: center;
	cursor: pointer;
}

.h-nav-list li:not(.hactive):hover::before {
	position: absolute;
	content: '';
	background-color: var(--clr-bland);
	height: 4px;
	width: 100%;
	bottom: 0;
	left: 0;	
	animation: width .2s;
	animation-fill-mode: forwards;
}

.h-nav-list li:hover {
	background-color: var(--border-clr);
}

#prof-md-btn {
	margin: 0px 5px 0px 0px;
	border: none;
	height: 100%;
	width: 100%;
	display: flex;
	background-color: transparent;
}

.prof-md-btn-pic-holder {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#prof-md-btn:focus {
	background-color: var(--clr-light-bland);
}

.prof-md-btn-pic-holder > img {
	width: 100%;
  height: 100%;
  object-fit: cover;
}

#prof-md-btn > span {
	margin: 0px 10px 0px 10px;
	margin-left: 15px;
	white-space: nowrap;
}


.prof-md-arrow {
	background-color: transparent;
	border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #686868;
}

.h-nav-profile-md-con a:hover {
		background-color: var(--clr-accent);
		color: white;
}

.h-nav-profile-md-con a:hover img{
	filter: brightness(0) invert(1);
}

.h-nav-profile-md-con span{
	margin-left: 10px;
}


/*** service content ***/

.dep-service-main-con, .setting-main-con {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;

}

.dep-service-content-con {
	width: 100%;
	height: auto;
}

/*** side navigation ***/
.s-nav, .setting-nav, .user-nav {
	position: sticky;
	top: 0;
	height: 100%;
}

.s-nav-list, .setting-nav-list, .user-nav-list {
	width: 100%;
}

.s-nav-list li, .setting-nav-list > li{
	padding: 10px;
}

.s-nav-list a li, .setting-nav-list a li, .user-nav-list a li {
	display: flex;
	align-items: center;
}

.s-nav-list a li img{
	margin-right: 10px;
	width: 20px;
	height: auto;
}

.s-nav-list > li:nth-child(1) {
	display: flex;
	padding: 20px 0px;
	padding-right: 40px;
	justify-content: center;
	align-items: center;
}

.s-nav-list > li:nth-child(1) img{
	margin-right: 15px;
	width: 40px;
	height: auto;
}

.snav-list-dep-dropdown {
	display: flex;
	align-items: center;
	font-weight: var(--fw-semi-bold);
	padding-left: 20px !important;
}

.snav-list-dep-dropdown:hover {
	background-color: var(--border-clr);
	cursor: pointer;
}

.snav-list-dep-dropdown > img {
	width: 20px;
	height: 20px;
	margin-left: auto;
}

.snav-list-dep-dropdown-list {
	height: 0;
	overflow: hidden;
}

.snav-list-dep-dropdown.active > img {
	transform: rotate(90deg);
}

.snav-list-dep-dropdown-list.active {
	height: auto;
}

/*** breadcrumb ***/

.breadcrumb-con {
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid var(--border-clr);
	display: flex;
	align-items: center;
}

.breadcrumb-con a:hover {
	color: var(--clr-accent);
}

.breadcrumb-con a, .breadcrumb-con span {
	margin-right: 10px;
}

/*** loader ***/
.loader-con {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: white;
	z-index: 999;
}

.loader {
	width: 40px;
	height: 40px;
	background-color: transparent;
	border: 7px solid var(--border-clr);
	border-radius: 50%;
	border-bottom: 7px solid var(--clr-accent);
	animation: rotate 1s infinite;
	margin-bottom: 10px;
}

@keyframes rotate {
	100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    }
}

/*** settings ***/

.setting-pic-holder{
	width: 150px;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	overflow: hidden;
}

.setting-pic-holder > img {
	width: 150px;
	height: 150px;
	object-fit: cover;
}

.setting-nav-list > li:nth-child(1) > p {
	font-weight: var(--fw-semi-bold);
	font-size: var(--fs-heading);
	margin-bottom: 10px;
}

/*** footer ***/

/*** user side navigation  ***/
.user-nav-list > li:nth-child(1) {
	padding: 10px;
	padding-left: 20px;
	font-weight: var(--fw-semi-bold);
	border-bottom: 1px solid var(--border-clr);
}

@media(min-width: 0) {

	.h-nav-options-con {
		position: absolute;
		display: none;
		width: 100%;
		top: 6rem;
		height: auto;
		flex-direction: column-reverse;
		right: 0;
		background: linear-gradient(45deg, #F8F8F8 -5.43%, #FFFFFF 54.57%);
	}

	.h-nav-list {
		flex-direction: column;
		width: 100%;
		height: auto;
	}

	.h-nav-list li {
		flex-direction: row;
		height: auto;
		width: 100%;
		transition: width 1s ease-in-out;
		justify-content: left;
		align-items: center;
	}

	.h-nav-list li img{
		height: 25px;
		width: auto;
		margin-left: 0;
		margin-right: 5px;
	}

	.h-nav-profile-con {
		border-bottom: 1px solid var(--border-clr);
		height: 100%;
	}

	#prof-md-btn {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.prof-md-arrow {
		display: none;
	}				

	.h-nav-profile-md-con {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		border-top: 1px solid var(--border-clr);
		background-color: white;
	}

	.h-nav-profile-md-con a {
		padding: 10px 2px;
		padding-left: 10px;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
	}

	.h-nav-profile-md-con img{
		height: 30px;
		width: 30px;
	}

	#h-nav-hamburger-btn {
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: 20px;
		background-color: transparent;
	}

	.h-nav-hamburger-menu {
		display: flex;
		width: 30px;
		height: 5px;
		background-color: var(--clr-bland);
	}

	.h-nav-hamburger-menu::before {
		content: '';
		width: 30px;
		height: 5px;
		background-color: var(--clr-bland);
		top: -10px;
	}

	.h-nav-hamburger-menu::after {
		content: '';
		width: 30px;
		height: 5px;
		background-color: var(--clr-bland);
		top: 10px;
	}

	/*** side navigation ***/
	.sactive {
		background-color: var(--clr-light-accent);
	}

	.s-nav, .setting-nav, .user-nav {
		min-width: fit-content;
		background-color: var(--clr-accent);
		border-right: 0;
	}

	.s-nav-list a > li, .setting-nav-list a > li, .user-nav-list a > li{
		text-indent: -9999px;
		padding: 10px;
	}

	.s-nav-list a li:hover, .setting-nav-list a li:hover{
		background-color: var(--clr-light-accent);
	}

	.s-nav-list > li:nth-child(1) {
		border-bottom: 0;
	}

	.s-nav-list > li:nth-child(1) img{
		display: none;
	}

	.s-nav-list > li:nth-child(1) div{
		display: none;
	}

	.snav-list-srv-header {
		display: none;
	}

	.s-nav-list a li img {
		display: flex;
	}

}

@media(min-width: 576px) {
	
}

@media(min-width: 900px) {

	.h-nav-options-con {
		position: relative;
		display: flex !important;
		width: 100%;
		top: 0;
		height: 100%;
		flex-direction: row;
		border-bottom: 0;
		border-left: 0;
		background: transparent;
	}

	.h-nav-list {
		flex-direction: row;
		height: 100%;
	}

	.h-nav-list li {
		flex-direction: row;
		width: auto;
		height: 100%;
		transition: height 1s ease-in-out;
		align-items: center;
	}

	.h-nav-list li img{
		height: 25px;
		width: auto;
		margin-left: 0;
		margin-right: 5px;
	}

	.h-nav-profile-con {
		border-bottom: 0;
		border-left: 1px solid var(--border-clr);
		height: 100%;
		min-width: fit-content;
		margin-left: auto;
	}

	#prof-md-btn {
		flex-direction: row;
		justify-content: center;
		align-items: center;
		padding: 5px 10px;
	}

	.prof-md-arrow {
		display: block;
	}

	.h-nav-profile-md-con {
		position: absolute;
		top: 70px;
		right: 0;
		display: none;
		flex-direction: column;
		width: 200px;
		border: 1px solid var(--border-clr);
		background-color: white;
		justify-content: center;
		align-items: flex-start;
	}

	.h-nav-profile-md-con img{
		height: 20px;
		width: 20px;
	}

	.h-nav-profile-md-con a {
		padding: 10px 2px;
		padding-left: 10px;
		display: flex;
		width: 100%;
		justify-content: left;
		align-items: center;
	}

	.h-nav-profile-md-con a:not(:nth-child(1)) {
		border-top: 1px solid var(--border-clr);
	}
	
	#h-nav-hamburger-btn {
		display: none;
	}

	.h-nav-hamburger-menu {
		display: none;
	}

	/*** side navigation ***/
	.sactive {
		color: var(--clr-accent);
		background-color: var(--border-clr);
	}

	.sactive::before {
		position: absolute;
		content: '';
		background-color: var(--clr-accent);
		height: 100%;
		width: 3px;
		left: 0
	}

	.s-nav, .setting-nav, .user-nav {
		background-color: white;
		min-width: 280px;
		max-width: 280px;
		border-right: 1px solid var(--border-clr);
	}

	.s-nav-list a li, .setting-nav-list a li, .user-nav-list a li{
		text-indent: 0;
		padding-left: 20px;
		
	}

	.s-nav-list a li:hover, .setting-nav-list a li:hover, .user-nav-list a li:hover{
		background-color: var(--border-clr);
	}

	.s-nav-list a li:not(.sactive):hover::before, .setting-nav-list a li:not(.sactive):hover::before {
		position: absolute;
		content: '';
		left: 0;
		background-color: var(--clr-bland);
		width: 4px;
		height: 100%;
		animation: height .2s;
		animation-fill-mode: forwards;
	}

	.s-nav-list > li:nth-child(1), .setting-nav-list > li:nth-child(1) {
		border-bottom: 1px solid var(--border-clr);
	}

	.setting-nav-list > li:nth-child(1) {
		display: flex;
		flex-direction: column;
		align-items: center;
		row-gap: 10px;
	}

	.s-nav-list > li:nth-child(1) img{
		display: flex;
	}

	.s-nav-list > li:nth-child(1) div{
		display: inline-block;
	}

	.snav-list-srv-header {
		display: inline-block;
		padding-left: 15px !important;
		border-bottom: 1px solid var(--border-clr);
		font-weight: var(--fw-semi-bold);
		width: 100%;
	}

	.s-nav-list a li img {
		display: none;
	}
}
